.heading {
  text-align: center;
  background-color: #efdbf2;
  padding: 50px;
  padding-bottom: 80px;
  padding-top: 80px;
}

h1 {
  font-family: "playfair display", sans-serif;
  font-size: 100px;
}

h2 {
  font-size: 36px;
  font-family: "poppins", sans-serif;
  line-height: 77px;
}
p {
  font-family: "poppins", sans-serif;
  font-weight: 200;
}
.btn {
  background-color: rgb(233, 201, 237);
  border-color: rgb(233, 201, 237);
  color: black;
}
.weather-project {
  margin-top: 150px;
}
.weather-info {
  padding-left: 40px;
}
.weather-app-image {
  width: 100%;
  border-radius: 10px;

  margin: 0 auto;
}

.landing-page-image {
  width: 100%;
  border-radius: 10px;

  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 100px;
}
.landing-info {
  margin-top: 200px;
  padding-right: 40px;
}
/*.landing-para {
  padding-left: 100px;
}*/
.container {
  padding-left: 100px;
  padding-right: 100px;
}
.project-heading {
  font-family: "playfair display", sans-serif;
  font-size: 42px;
}
.about-me-btn {
  width: 100px;
  margin: 0 auto;
  display: block;
}

@media (max-width: 576px) {
  .heading {
    padding-top: 20px;
  }
  h1 {
    font-size: 70px;
    padding-bottom: 10px;
    padding-top: 30px;
  }
  h2 {
    font-size: 20px;
    line-height: 32px;
  }
  .landing-info {
    padding-right: 0px;
    margin-top: 50px;
  }
  .weather-info {
    padding-left: 0px;
  }
  .project-heading {
    margin-top: 0px;

    text-align: center;
    font-size: 40px;
    padding-left: 0px;
  }
  .landing-heading {
    padding-top: 30px;
  }
  p {
    font-size: 16px;
    margin-top: 25px;
    text-align: center;
  }
  .container {
    padding: 50px;
  }
  .btn {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .weather-project {
    margin-top: 20px;
  }
}

.about-me {
  font-size: 50px;
  font-family: "poppins", sans-serif;
  text-align: center;
  padding: 25px;
  border-radius: 4px;
  background-color: #efdbf2;
  border: 1px solid #efdbf2;
  width: 400px;
  display: block;
  margin: 0 auto;
}
.heading-gap {
  margin-bottom: 90px;
}
.about-photo {
  width: 80%;
  border-radius: 8px;
  margin-left: 30px;
  margin-top: 100px;
}
.about-para {
  margin-right: 30px;
  margin-top: 100px;
}
.about-btn {
  margin: 0 auto;
  display: block;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 50px;
}
@media (max-width: 576px) {
  .about-me {
    font-size: 2rem;
    width: 80%;
  }
  .about-photo {
    margin-left: 0;
    margin-right: 0;
    margin-top: 8px;
    width: 100%;
  }
  .about-para {
    margin-right: 0;
    font-size: 0.8rem;
    margin-top: 30px;
  }
}

.my-work {
  font-size: 40px;
  font-family: "poppins", sans-serif;
  text-align: center;
  padding: 25px;
  border-radius: 4px;
  background-color: #efdbf2;
  border: 1px solid #efdbf2;
  width: 800px;
  display: block;
  margin: 0 auto;
}
.my-work-weather-img {
  margin-bottom: 20px;
  width: 100%;
  border-radius: 8px;
}
.my-work-landing-img {
  margin-bottom: 20px;

  border-radius: 8px;
  width: 93%;
}
.my-work-heading {
  text-align: center;
}
.my-work-para {
  text-align: center;
  margin-bottom: 50px;
}

@media (max-width: 576px) {
  .my-work {
    font-size: 2rem;
    width: 80%;
  }
  .my-work-landing-img {
    width: 100%;
  }
}

.get-in-touch {
  font-size: 65px;
}
.contact-links {
  text-align: center;
  margin: 0 auto;
  display: block;
}
